.destination {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    background-image: url("./assets/destination/background-destination-mobile.jpg");
    background-color: #0b0d19;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 1.5rem;
    min-height: 100vh;
    display: grid;
    place-items: center;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        // background-color: #0b0d19;
        background-color: #1a1e3a;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg1 1s ease forwards;
        z-index: 300;
        transform: translateX(200rem);
    }

    @keyframes fadeInBg1 {
        50% {
            transform: translateX(0);
        }

        to {
            transform: translateX(-200rem);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0b0d19;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg 1s .3s ease forwards;
    }

    @keyframes fadeInBg {
        to {
            transform: translateX(-200rem);
        }
    }

    .content {
        padding-top: 2.125rem;
        display: grid;
        place-items: center;
        text-align: center;

        h2 {
            font-size: 1rem;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
            letter-spacing: 2.7px;
            font-weight: 100;
            color: #fff;

            span {
                padding-right: 1.125rem;
                opacity: .5;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0 0;

            .imagesTab {
                max-width: 10.6rem;
                // height: 10.6rem;
                overflow-x: hidden;
                margin-bottom: 1.6rem;
                border-radius: 50%;

                .imagesContainer {
                    display: flex;

                    .image {
                        opacity: 0;
                        transition: opacity 1s ease;

                        img {
                            transition: transform .5s ease;
                            width: 10.6rem;
                            height: 10.6rem;
                            object-fit: cover;
                            display: block;
                        }

                        &.active {
                            opacity: 1;
                        }
                    }

                }
            }

            .info {
                .tabs {
                    display: flex;
                    justify-content: center;
                    gap: 1.6rem;

                    .tab {
                        cursor: pointer;
                        font-size: .875rem;
                        text-transform: uppercase;
                        // margin-right: 1.6rem;
                        position: relative;
                        letter-spacing: 2.36px;
                        font-weight: 50;
                        transition: all .5s;

                        &::after {
                            content: "";
                            width: 100%;
                            height: .18rem;
                            background-color: #fff;
                            position: absolute;
                            bottom: -.5rem;
                            left: 0;
                            opacity: 0;
                        }

                        &:not(.active):hover::after {
                            opacity: 1;
                            background-color: #ffffff75;
                        }

                        &.active {
                            color: #fff;
                        }

                        &.active::after {
                            opacity: 1;
                        }
                    }


                }

                .contentTab {

                    .description {
                        padding-top: 1.9rem;
                        display: none;
                        // opacity: 0;

                        .text {
                            padding-bottom: 2rem;
                            border-bottom: 1px solid #383B4B;

                            h1 {
                                font-size: 3.6rem;
                                color: #fff;
                                font-weight: 100;
                                text-transform: uppercase;
                                font-family: 'Bellefair', serif;
                                opacity: 0;
                                transform: translateY(-2rem);
                            }

                            p {
                                line-height: 25px;
                                font-weight: 100px;
                            }
                        }

                        .numbers {
                            padding-top: 2rem;

                            p {
                                text-transform: uppercase;
                                padding-bottom: 2rem;
                                letter-spacing: 2.36px;
                            }

                            span {
                                padding-top: 0.75rem;
                                display: block;
                                color: #fff;
                                font-size: 1.75rem;
                                font-family: 'Bellefair', serif;
                            }
                        }

                        &.active {
                            display: block;

                            h1 {
                                animation: title .5s .1s ease forwards;
                            }

                            @keyframes title {
                                to {
                                    transform: translateY(0);
                                    opacity: 1;
                                }
                            }

                            // animation: fadeIn .8s .2s linear forwards;
                        }
                    }

                }

                @keyframes fadeIn {
                    to {
                        opacity: 1;
                    }
                }

            }
        }
    }
}




// Media Query

// Tablet

@media (min-width: 768px) {
    .destination {
        background-image: url("./assets/destination/background-destination-tablet.jpg");

        .content {
            padding-top: 2.5rem;

            h2 {
                font-size: 1.25rem;
                place-self: start;
                padding-left: .875rem;
            }

            .body {
                padding: 3.75rem 0 0;

                .imagesTab {
                    max-width: 18.75rem;
                    // height: 18.75rem;

                    .imagesContainer {
                        .image {
                            img {
                                width: 18.75rem;
                                height: 18.75rem;
                                // margin-bottom: 3.3rem;
                            }
                        }
                    }
                }

                .info {
                    .tabs {
                        height: 2.125rem;
                        gap: 2.18rem;

                        .tab {
                            font-size: 1rem;
                            letter-spacing: 2.7px;
                        }
                    }

                    .contentTab {
                        .description {
                            padding-top: 2rem;
                            display: none;

                            .text {
                                padding-bottom: 3rem;
                                border-bottom: 1px solid #383B4B;

                                h1 {
                                    font-size: 5rem;
                                    padding-bottom: 0.5rem;
                                }

                                p {
                                    width: 36rem;
                                    height: 5.25rem;
                                    font-size: 1rem;
                                    line-height: 28px;
                                }
                            }


                            // Here fix this
                            .numbers {
                                padding-top: 1.8rem;
                                display: flex;
                                justify-content: center;
                                gap: 1rem;

                                p {
                                    text-transform: uppercase;
                                    padding-bottom: 2rem;
                                    letter-spacing: 2.36px;
                                    width: 50%;
                                }

                                span {
                                    padding-top: 0.75rem;
                                    display: block;
                                    color: #fff;
                                    font-size: 1.75rem;
                                    font-family: 'Bellefair', serif;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



// Desktop


@media (min-width: 1440px) {
    .destination {
        background-image: url("./assets/destination/background-destination-desktop.jpg");

        .content {
            padding-top: 4.75rem;

            h2 {
                font-size: 1.75rem;
                padding-left: 10rem;
                letter-spacing: 4.72px;
            }

            .body {
                padding-top: 4rem;
                flex-direction: row;
                gap: 9.8rem;
                width: 65rem;

                .imagesTab {
                    max-width: 27.8rem;
                    // height: 27.8rem;

                    .imagesContainer {
                        .image {
                            img {
                                width: 27.8rem;
                                height: 27.8rem;
                                // margin-bottom: 3.3rem;
                                // margin-top: 2rem;
                            }
                        }
                    }

                }

                .info {
                    width: 27.8rem;
                    text-align: left;

                    .tabs {
                        justify-content: flex-start;
                    }

                    .contentTab {
                        .description {

                            .text {

                                h1 {}

                                p {
                                    width: 27.75rem;
                                }
                            }

                            .numbers {
                                justify-content: flex-start;

                                p {
                                    width: 50%;
                                }

                                span {}
                            }
                        }
                    }
                }
            }
        }
    }
}