.technology {
    min-height: 100vh;
    background-color: #0b0d19;
    padding: 0 1.5rem;
    color: #D0D6F9;
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    display: grid;
    place-items: center;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #1a1e3a;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg1 1s ease forwards;
        z-index: 300;
        transform: translateX(200rem);
    }

    @keyframes fadeInBg1 {
        50% {
            transform: translateX(0);
        }
        to {
            transform: translateX(-200rem);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0b0d19;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg 1.5s .3s ease forwards;
    }

    @keyframes fadeInBg {
        to {
            transform: translateX(-200rem);
        }
    }

    .content {
        padding-top: 2.125rem;
        display: grid;
        place-items: center;
        text-align: center;

        h2 {
            font-size: 1rem;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
            letter-spacing: 2.7px;
            font-weight: 100;
            color: #fff;

            span {
                padding-right: 1.125rem;
                opacity: .5;
            }
        }

        .body {
            display: grid;
            place-items: center;
            padding: 2rem 0 0;

            .image {
                width: 23.6rem;
                // width: 100%;
                // height: 100%;
                height: 10.6rem;
                margin-bottom: 1.6rem;
                display: none;
                margin: 0 -1.5rem;
                // opacity: 0;

                &.active {
                    display: block;
                    // animation: fadeIn .8s linear forwards;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                .tabs {
                    display: flex;
                    justify-content: center;
                    gap: 1.6rem;
                    padding-top: 2.125rem;

                    .tab {
                        cursor: pointer;
                        text-transform: uppercase;
                        font-family: 'Bellefair', serif;
                        width: 2.5rem;
                        height: 2.5rem;
                        display: grid;
                        place-items: center;
                        border: 1px solid #ffffff88;
                        border-radius: 50%;
                        color: #fff;

                        &:hover {
                            border: 1px solid #fff;
                        }

                        &.active {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }

                .terminology {
                    padding: 1.625rem 0 0.5625rem;
                    letter-spacing: 2.36px;
                }

                .contentTab {
                    .description {
                        display: none;
                        // opacity: 0;

                        .text {
                            padding-bottom: 2rem;

                            h1 {
                                font-size: 1.5rem;
                                color: #fff;
                                font-weight: 100;
                                text-transform: uppercase;
                                font-family: 'Bellefair', serif;
                                padding-bottom: 1rem;
                            }

                            p {
                                line-height: 25px;
                                font-weight: 100px;
                            }
                        }

                        &.active {
                            display: block;
                            // animation: fadeIn .8s .2s linear forwards;
                        }
                    }
                }

                @keyframes fadeIn {
                    to {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .technology {
        background-image: url("./assets/technology/background-technology-tablet.jpg");

        .content {
            padding-top: 2.5rem;

            h2 {
                place-self: start;
                padding-left: .9rem;
                letter-spacing: 3.38px;
                font-size: 1.25rem;
                margin-bottom: 0;
            }

            .body {
                padding: 3.75rem 0 0;

                .imagesTab {
                    width: 100%;

                    .image {
                        width: 48.3rem;
                        // height: 100%;
                        // width: 100%;
                        height: 19.375rem;
                        margin-bottom: 1.6rem;
                        margin: 0 -1.5rem;
                    }
                }

                .info {
                    .tabs {
                        padding-top: 3.5rem;

                        .tab {
                            width: 3.75rem;
                            height: 3.75rem;
                        }
                    }

                    .terminology {
                        padding: 2.75rem 0 1rem;
                        letter-spacing: 2.7px;
                    }

                    .contentTab {
                        .description {
                            .text {
                                padding-bottom: 2rem;

                                h1 {
                                    font-size: 2.5rem;
                                }

                                p {
                                    line-height: 28px;
                                    font-size: 1rem;
                                    width: 28.625rem;
                                    height: 8.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// Desktop

@media (min-width: 1440px) {
    .technology {
        background-image: url("./assets/technology/background-technology-desktop.jpg");

        .content {
            padding-top: 4.75rem;
            padding-left: 8.875rem;
            
            h2 {
                padding-left: .9rem;
                letter-spacing: 4.72px;
                font-size: 1.75rem;
            }

            .body {
                padding-top: 1.625rem;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8rem;

                .imagesTab {
                    .image {
                        width: 32rem;
                        height: 33rem;
                        position: relative;
                        left: .6rem;
                    }
                }

                .info {
                    display: flex;
                    gap: 5rem;
                    text-align: left;
                    padding-top: 7rem;

                    .tabs {
                        flex-direction: column;
                        padding-top: 0;
                        justify-content: flex-start;
                    }

                    .contentTab {
                        .terminology {
                            padding: 0 0 0.68rem;
                            font-size: 1rem;
                        }

                        .description {
                            .text {
                                h1 {
                                    font-size: 3.5rem;
                                    width: 30rem;
                                }

                                p {
                                    font-size: 1.125rem;
                                    line-height: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}