@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

.myVideo {
    position: fixed;
    top: 0;
    left: 0;
    // left: -100rem;
    // transform: translate(-50%,-50%);
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: 100%;
    // height: 30rem;
    // width: 30rem;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg);
}

@media screen and (min-width: 768px) {
    .myVideo {
        left: 0;
    }
}


.home {
    color: #D0D6F9;
    min-height: 100vh;
    min-height: 100dvh;
    // background-image: url(./assets/home/background-home-mobile.jpg);
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    padding: 0 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #0b0d19;
    font-weight: 100;
    display: grid;
    place-items: center;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #1a1e3a;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg .5s .1s ease forwards;
        z-index: 300;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0b0d19;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg .5s .4s ease forwards;
    }

    @keyframes fadeInBg {
        to {
            transform: translateX(-100%);
        }
    }

    .content {
        padding-top: 3rem;
        display: grid;
        place-items: center;
        position: fixed;
        top: 5rem;
        /* gap: 5rem; */

        .text {
            text-align: center;
            // opacity: 0;
            // animation: fadeIn .8s linear forwards;

            h1 {
                font-family: 'Bellefair', serif;
                font-size: 5rem;
                line-height: 100px;
                padding: 1rem 0;
                font-weight: 100;
                color: #fff;
            }

            h2 {
                font-size: 1rem;
                letter-spacing: 2.7px;
            }

            h2,
            p {
                font-family: 'Barlow Condensed', sans-serif;
                color: #D0D6F9;
                font-weight: 100;
            }

            p {
                font-size: 0.9rem;
                line-height: 25px;
                letter-spacing: 0px;
            }
        }

        .cta {
            padding-top: 5rem;
            // opacity: 0;
            // animation: fadeIn .8s linear forwards;

            .explore {
                width: 10rem;
                height: 10rem;
                background-color: #fff;
                border-radius: 50%;
                font-family: 'Bellefair', serif;
                font-size: 1.25rem;
                letter-spacing: 1.25px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
            }
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
    }

}



// Media Queries

// Tablet

@media (min-width: 768px) {
    .home {
        // background-image: url(./assets/home/background-home-tablet.jpg);

        .content {
            padding-top: 6.625rem;
            top: 10rem;

            .text {
                h1 {
                    font-size: 9.375rem;
                    line-height: 150px;
                    padding: 1.25rem 0;
                }

                h2 {
                    font-size: 1.25rem;
                    // padding-bottom: 1.25rem;
                }

                p {
                    width: 28rem;
                    font-size: 1rem;
                    line-height: 28px;
                }
            }

            .cta {
                .explore {
                    width: 15rem;
                    height: 15rem;
                    font-size: 2rem;
                }
            }
        }
    }

}





// Desktop

@media (min-width: 1440px) {
    .home {
        // background-image: url(./assets/home/background-home-desktop.webp);

        .content {
            padding-top: 15.6rem;
            display: flex;
            justify-content: space-around;
            gap: 24rem;
            top: 15rem;

            .text {

                h1 {
                    font-size: 9.375rem;
                    line-height: 100px;
                    padding: 1rem 0;
                }

                h2 {
                    font-size: 1.75rem;
                    padding-bottom: 1.5rem;
                }

                h2,
                p {
                    text-align: left;
                }

                p {
                    padding-top: 1.5rem;
                    width: 28rem;
                    font-size: 1.125rem;
                    line-height: 32px;
                }
            }

            .cta {

                .explore {
                    width: 17.125rem;
                    height: 17.125rem;
                    font-size: 2rem;
                    position: relative;
                    z-index: 3;
                    transition: .5s all;

                    animation: clickIt 2s linear infinite;

                    @keyframes clickIt {
                        0% {
                            box-shadow: 0px 0px 0px 0rem #97979736;
                        }

                        50% {
                            box-shadow: 0px 0px 0px 2rem #97979736;
                        }

                        100% {
                            box-shadow: 0px 0px 0px 0rem #97979736;
                        }
                    }

                    &:hover {
                        animation: hoorey .5s ease forwards;
                    }

                    @keyframes hoorey {
                        to {
                            box-shadow: 0px 0px 0px 5rem #97979736;
                        }
                    }
                }
            }


        }
    }
}