.crew {
    min-height: 100vh;
    background-color: #0b0d19;
    padding: 0 1.5rem;
    color: #D0D6F9;
    background-image: url("./assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    display: grid;
    place-items: center;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #1a1e3a;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg1 1s ease forwards;
        z-index: 300;
        transform: translateX(200rem);
    }

    @keyframes fadeInBg1 {
        50% {
            transform: translateX(0);
        }
        to {
            transform: translateX(-200rem);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0b0d19;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeInBg 1s .3s ease forwards;
    }

    @keyframes fadeInBg {
        to {
            transform: translateX(-200rem);
        }
    }

    .content {
        padding-top: 2.125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 1rem;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
            letter-spacing: 2.7px;
            font-weight: 100;
            color: #fff;

            span {
                padding-right: 1.125rem;
                opacity: .5;
            }
        }

        .body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2rem 0 0;

            .imagesTab {
                .image {
                    height: 14rem;
                    margin-bottom: 1.6rem;
                    display: none;
                    // opacity: 0;

                    &.active {
                        display: block;
                        // animation: fadeIn .8s linear forwards;
                    }

                    img {
                        height: 100%;
                    }
                }
            }


            .info {
                .tabs {
                    display: flex;
                    justify-content: center;
                    gap: 1.6rem;

                    .tab {
                        cursor: pointer;
                        width: 0.625rem;
                        height: 0.625rem;
                        background-color: #646363;
                        border-radius: 50%;

                        &:hover {
                            background-color: #ffffff78;
                        }

                        &.active {
                            background-color: #fff;
                        }
                    }
                }

                .contentTab {
                    .description {
                        padding-top: 1.9rem;
                        display: none;
                        // opacity: 0;

                        .text {
                            padding-bottom: 2rem;

                            .role {
                                display: block;
                                font-size: 1rem;
                                color: #ffffff7d;
                                padding-bottom: .5rem;
                                text-transform: uppercase;
                                font-family: 'Bellefair', serif;
                                font-weight: 100;
                            }

                            h1 {
                                font-size: 1.5rem;
                                color: #fff;
                                font-weight: 100;
                                text-transform: uppercase;
                                font-family: 'Bellefair', serif;
                                padding-bottom: 1rem;
                            }

                            p {
                                line-height: 25px;
                                font-weight: 100px;
                                line-height: 25px;
                            }
                        }

                        &.active {
                            display: block;
                            // animation: fadeIn .8s .2s linear forwards;
                        }
                    }
                }

                @keyframes fadeIn {
                    to {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


// Tablet

@media (min-width: 768px) {
    .crew {
        overflow: hidden;
        height: 100vh;

        .content {
            padding-top: 2.5rem;

            h2 {
                place-self: start;
                padding-left: .9rem;
                letter-spacing: 3.38px;
                font-size: 1.25rem;
                margin-bottom: 0;
            }

            .body {
                padding: 3.75rem 0 0;
                gap: 2.5rem;
                flex-direction: column-reverse;
                overflow: hidden;


                .imagesTab {
                    .image {
                        height: 33rem;
                        margin-bottom: -1.6rem;

                        img {
                            width: 100%;
                            max-height: 100%;
                        }
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column-reverse;

                    .tabs {
                        gap: 1rem;
                    }

                    .contentTab {
                        .description {
                            width: 28.625rem;

                            .text {
                                .role {
                                    font-size: 1.5rem;
                                    padding-bottom: 2.5rem;
                                }

                                h1 {
                                    font-size: 2.5rem;
                                }

                                p {
                                    font-size: 1rem;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



// Desktop

@media (min-width: 1440px) {
    .crew {
        .content {
            padding-left: 8.875rem;
            // justify-content: flex-start;
            align-items: flex-start;
            // display: grid;
            // place-items: center;

            h2 {
                font-size: 1.75rem;
            }

            .body {
                text-align: left;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: row-reverse;
                gap: 5rem;
                overflow: visible;

                .imagesTab {
                    .image {
                        position: relative;
                        left: 3rem;
                        width: 100%;
                        height: 44rem;
                        margin-bottom: -1.6rem;
                    }
                }

                .info {
                    .tabs {
                        justify-content: flex-start;
                        width: 8.25rem;

                        .tab {
                            width: .9rem;
                            height: .9rem;
                        }
                    }

                    .contentTab {
                        .description {
                            padding-top: 9.6rem;
        
                            .text {
                                padding-bottom: 7.5rem;

                                .role {
                                    font-size: 2rem;
                                    padding-bottom: 1rem;
                                }

                                h1 {
                                    font-size: 3.5rem;
                                    width: 40.5rem;
                                    height: 4rem;
                                    margin-bottom: 1.6875rem;
                                }

                                p {
                                    font-size: 1.125rem;
                                    line-height: 32px;
                                    width: 27.75rem;
                                    // height: 8rem;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@media (min-width: 1450px) {
    .crew {
        .content {
            padding-left: 8.875rem;
            // justify-content: flex-start;
            align-items: center;
        }
    }
}